.hidden {
    display: none;
}

body {
    background-size: cover;
    backdrop-filter: blur(5px);
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
    color: rgb(253, 123, 190);
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 72, 167);
}

h3 {
    margin: 2px;
    padding-top: 15px;
}

button {
    margin: 10px;
    background-color: rgb(10, 140, 239);
    font-size: 20px;
}